/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Matter';
  src: url('./assets/fonts/Matter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'CalSans';
  src: url('./assets/fonts/CalSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.terminal-cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #4af626;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.mesh {
  -webkit-mask-size: 160% 150%;
  -webkit-mask-image: radial-gradient(
    ellipse at 50% 50%,
    #000 20%,
    transparent 50%
  );
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  opacity: 0.2;
  bottom: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
  --tw-translate-x: -50%;
  z-index: -10;
}
